@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.topbar {
  width: 100%;
  box-shadow: 0 2px 5px #ccc;
  background-color: white;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 16px 8%;
}
.searchwrapper {
  width: 100%;
  max-width: 400px;
  position: relative;
  margin-left: 80px;
  margin-top: -10px;
}
#search {
  width: 100%;
  border: 1px solid rgb(245, 242, 242);
  background-color: rgb(245, 242, 242);
  box-sizing: border-box;
  padding: 10px 24px 8px 48px;
  color: black;
  outline: none;
  margin-left: 50px;
}

#searchicon {
  position: relative;
  color: #999;
  font-size: 18px;
  top: 40px;
  left: 30px;
  margin-left: 40px;
  transform: translateY(-50%);
}

.leftmenu {
  display: inline-flex;
  justify-content: start;
  align-items: center;
}

#leftlogo {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 400;
  margin-right: 16px;
}

#leftlogo span {
  font-weight: 800;
}

#leftlogo > a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  
}

#leftcl {
  text-decoration: none;
  color: black;
  margin-left: 32px;
  text-transform: uppercase;
  font-weight: 600;
}

.rightmenu {
  display: inline-flex;
  justify-content: end;
  align-items: center;
}

#cartwrapper {
  position: relative;
  margin-right: 32px;
}
#cartcount {
  width: 18px;
  height: 18px;
  font-size: 12px;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-weight: 600;
  background-color: #009688;
  color: white;
  border-radius: 50%;
  position: absolute;
  top: -12px;
  right: -12px;
}

.rightmenu I {
  cursor: pointer;
}

#avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.edyodaimg {
  width: 128px;
  position: fixed;
  bottom: 50px;
  right: 50px;
}


.homepagesection{
  padding: 4% 0% 0
}
footer {
  width: 100%;
  background-color: #1c1b1e;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 4% 8%;
}

#footerheading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  color: white;
  opacity: 0.9;
  letter-spacing: 1px;
}

#footerlink {
  text-decoration: none;
  color: white;
  display: block;
  margin-top: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.8;
}

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#container {
  max-width: 80%;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 100px;
  font-family: "Montserrat", sans-serif;
}

.leftcontainer {
  width: 40%;
}
.bigimg {
  width: 100%;
  margin-top: 50px;
}
.rightcontainer {
  width: 57%;
  margin-top: 40px;
  padding-left: 30px;
}
.product-description {
  margin-bottom: 40px;
}
.sname {
  font-weight: 400;
  font-size: 44px;
  letter-spacing: -2px;
}
.sbrand {
  margin-top: 10px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  color: rgb(27, 25, 25);
}

.sprice {
  color: #009688;
  font-weight: 600;
  margin-left: 5px;
  margin-top: 11px;
}
.sdescription {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #86939e;
}

.preview {
  width: 100%;
}

.previewimg {
  margin: 5px;
  width: 15%;
  height: 30%;
  cursor: pointer;
  padding: 4px;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;

  margin-top: 20px;
}
.active {
  border: 2px solid #009688;
}

.btnn {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding: 10px 20px;
  letter-spacing: 2px;
  background-color: #009688;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgb(0 0 0 / 50%);
  margin-top: 25px;
  transition: transform 200ms;
}

.btnn:hover{transition: transform 200ms;
  transform: scale(1.1,1.1);
}

  
  


.prinum {
  width: 60%;
  display: flex;
}

.imgdiv {
  display: flex;
}

@media only screen and (max-width: 480px) and (min-width: 0px) {
  .edyodaimg {
    width: 80px;
  }

  .leftmenu {
    max-width: 100%;
    font-size: 15px;
  }
  #search {
    display: none;
  }
  #searchicon {
    font-size: 20px;
    position: relative;
    margin-left: -80px;
    top: 18px;
    color: #1c1b1e;
  }
  #cartwrapper {
    top: 5px;
  }
  #leftcl {
    display: none;
  }

  #leftlogo {
    font-size: 25px;

    font-weight: 400;
    margin-right: 6px;
  }

  footer {
    flex-wrap: wrap;
    justify-content: none;
    margin-left: 0;
    margin-bottom: 10px;
  }
  .footer1 {
    width: 80%;
    margin-bottom: 50px;
  }

  .leftcontainer {
    width: 150%;
    height: auto;
  }

  #container {
    width: 150%;
    flex-wrap: none;
  }

  .rightcontainer {
    width: 100%;
    margin-left: -40px;
    font-family: "Montserrat", sans-serif;
  }

  .sname {
    font-size: 34px;
    font-weight: 300;
  }

  .preview {
    width: 100%;
  }

  .previewimg {
    width: 20%;
  }

  .product-description {
    margin-top: 20px;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(27, 25, 25);
    font-size: 14px;
  }
}

@media only screen and (max-width: 380px){
  #searchicon{
      margin-left: -80px;
}
}
@media only screen and (max-width: 330px){
#searchicon{
    margin-left: -50px;
}
}
@media only screen and (max-width: 330px){
  #searchicon{
      display: none;
}
}